@page "/"
@namespace FBlazorShop.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FBlazorShop.Web.BlazorClient
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBlazorShop</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="_content/FBlazorShop.Web.BlazorClient/css/site.css" rel="stylesheet" />
    <link href="_content/FBlazorShop.ComponentsLibrary/leaflet/leaflet.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<Main.MyApp>(RenderMode.ServerPrerendered))
    </app>
    <script type="text/javascript" src="blazor.polyfill.min.js"></script>
    <!--<script src="_framework/blazor.server.js"></script>-->
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/localStorage.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/pushNotifications.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/deliveryMap.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/leaflet/leaflet.js"></script>

</body>
</html>
