@page "/"
@namespace FBlazorShop.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FBlazorShop.Web.BlazorClient
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBlazorShop</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="_content/FBlazorShop.Web.BlazorClient/css/site.css" rel="stylesheet" />
    <link href="_content/FBlazorShop.ComponentsLibrary/leaflet/leaflet.css" rel="stylesheet" />
</head>
<body>
    <script>
        window.exampleJsFunctions = {
            confirmButton: null,
            cancelButton: null,
            onkeyUp: function (event) {
                if (event.key == "Escape") document.getElementById("cancelButton").click();
                else if (event.key == "Enter")  document.getElementById("confirmButton").click();
            },
            registerForOnKeyUp: function (s) {
                this.onkeyUpParam = s;
                console.log("adding key biniding ");
                document.addEventListener("keyup", this.onkeyUp)
            },
            removeOnKeyUp: function () {
                console.log("removing key biniding");
                document.removeEventListener("keyup", this.onkeyUp);
            },
            showPrompt: function (text) {
                return prompt(text, 'Type your name here');
            },
            displayWelcome: function (welcomeMessage) {
                document.getElementById('welcome').innerText = welcomeMessage;
            },
            returnArrayAsyncJs: function () {
                console.log("onur");
                DotNet.invokeMethodAsync('FBlazorShop.Web.BlazorClient', 'ReturnArrayAsync')
                  .then(data => {
                    data.push(4);
                      console.log(data);
                });
            },
            sayHello: function (dotnetHelper) {
                console.log(dotnetHelper);
                 DotNet.invokeMethodAsync('FBlazorShop.Web.BlazorClient', 'ReturnArrayAsync', dotnetHelper)
                //return dotnetHelper.invokeMethodAsync('SayHello')
                //    .then(r => console.log(r));
            }
        };
    </script>

    <button style="" onclick="window.exampleJsFunctions.returnArrayAsyncJs()">Tasfdddddddddddddddddddddddddddddddddddddddddddddest</button>
    <app>
        @{
        var spec = Seed.specials;
        }
        <component type="typeof(Main.MyApp)" render-mode="ServerPrerendered" />
    </app>
    <script type="text/javascript" src="blazor.polyfill.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/localStorage.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/pushNotifications.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/deliveryMap.js"></script>
    <script src="_content/FBlazorShop.ComponentsLibrary/leaflet/leaflet.js"></script>

</body>
</html>
